.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    color: white;
    background: linear-gradient(
	to top,
	transparent 0%,
	rgb(0, 0, 0, 0.4) 33%
    );

    &.scrolled {
	background-color: var(--main-color);
    }

    .container {
	padding: 0 3.125rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.left {
	    display: flex;
	    align-items: center;
	    img {
		height: 4.6875rem;
		margin-right: 2.5rem;
	    }

	    span {
		margin-right: 1.875rem;
		cursor: pointer;
	    }
	}

	.right {
	    display: flex;
	    align-items: center;

	    .navbarButton {
		border: none;
		border-radius: 0.3125rem;
		color: white;
		padding: 0.5rem 0.3125rem;
		cursor: pointer;
		font-weight: 600;
		background-color: #028ECA;
		margin-right: 1rem;
	    }

	    .navbarImg {
		width: 3.25rem;
		height: 3.25rem;
		border-radius: 0.1875rem;
		object-fit: contain;
		cursor: pointer;
		margin-right: 1rem;
		border-radius: 50%;
	    }

	    .icon {
		margin-right: 1rem;
		cursor: pointer;
	    }

	    .manage {
		.optionIcon {
		    cursor: pointer;
		    margin-left: 0.5rem;
		}

		.hiddenOptions {
		    display: none;

		    .options {
			padding: 0.0625rem 0.1875rem;
			cursor: pointer;
		    }
		}

		&:hover {

		    .hiddenOptions {
			display: flex;
			flex-direction: column;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.65);
			border-radius: 0.3125rem;
			right: 2.3%;

			.options:hover {
			    background-color: rgba(255, 255, 255, 0.1);
			    border-radius: 0.3125rem;
			}
		    }
		}
	    }
	}
    }
}
