.watch {
    width: 100vw;
    height: 100vh;

    .options {
	width: 100%;
	display: flex;
	align-itemns: center;
	justify-content: space-between;
	z-index: 10;
	position: fixed;

	.videoIcon {
	    display: flex;
	    cursor: pointer;

	    .arrow {
		margin-right: 0.25rem;
	    }
	}
    }
    
    video {
	width: 100%;
	height: 100%;
	object-fit: contain;
	padding: 0;
	background-color: #0D1C23;
    }

    .videoDetails {
	display: flex;
	flex-direction: column;
	color: white;
	margin-top: -0.5rem;
	padding: 0.75rem 2.5rem;
	margin-bottom: 2.5rem;
	background-color: black;

	.videoDetailsTop {
	    display: flex;
	    align-items: center;

	    .profile {
		width: 4rem;
		height: 4rem;
		border: 1px solid grey;
		border-radius: 50%;
		object-fit: cover;
		cursor: pointer;
		background-color: white;
		margin-right: 1rem;
	    }

	    .videoInfos {
		display: flex;
		flex-direction: column;

		.videoName {
		    font-weight: 600;
		    color: #028ECA;
		}

		.videoCategory {
		    font-weight: 300;
		}
	    }
	}

	.videoDetailsBottom {
	    margin-top: 1rem;

	    .videoDetailsTitle {
		color: rgba(255, 255, 255, 0.52);
		font-weight: 300;
	    }

	    .videoDetailsDiv {
		display: flex;
		align-items: center;
		margin: 0.75rem 0;
		color: rgba(255, 255, 255, 0.78);

		.videoDetailsIcon {
		    margin-right: 1rem;
		}

		.videoDetailsContent {
		    font-weight: 1rem;
		}
	    }
	}
    }
}
