.videoStyle {
    padding: 1.25rem;
    margin-top: 75px;
    background-color: var(--main-color);

    .videoTopSection {
	display:flex;
	justify-content: space-between;
	align-items: center;

	.videoEditTitle {
	    color: rgba(255, 255, 255, 0.65);
	}

	.options {

	    .videoWatchButton {
		border: none;
		padding: 0.25rem;
		border-radius: 0.25rem;
		color: var(--main-color);
		background-color: #05F283;
		cursor: pointer;
		font-size: 1rem;
		font-weight: 600;
	    }

	    .videoDeleteButton {
		border: none;
		padding: 0.25rem;
		border-radius: 0.25rem;
		color: white;
		background-color: rgb(130, 0, 0);
		cursor: pointer;
		font-size: 1rem;
		font-weight: 600;
		margin-left: 1rem;
	    }
	}
    }

    .videoContainer {
	display: flex;
	flex-direction: column;
	color: white;
	margin-top: 0.75rem;

	.videoDetails {
	    flex: 1;
	    padding: 0.75rem;
	    box-shadow: 0 0.125rem 1rem 0 rgba(255, 255, 255, 0.52);
	    margin-bottom: 0.75rem;

	    .videoDetailsTop {
		display: flex;
		align-items: center;

		.profile {
		    width: 5rem;
		    height: 5rem;
		    border: 1px solid grey;
		    border-radius: 50%;
		    object-fit: cover;
		    cursor: pointer;
		    background-color: white;
		    margin-right: 0.75rem;
		}

		.videoInfos {
		    display: flex;
		    flex-direction: column;

		    .videoName {
			font-weight: 600;
		    }

		    .videoCategory {
			font-weight: 300;
		    }
		}
	    }

	    .videoDetailsBottom {
		margin-top: 0.75rem;

		.videoDetailsTitle {
		    color: rgba(255, 255, 255, 0.52);
		    font-weight: 300;
		}

		.videoDetailsDiv {
		    display: flex;
		    margin: 0.75rem 0;
		    color: rgba(255, 255, 255, 0.78);

		    .videoDetailsIcon {
			margin-right: 0.75rem;
		    }

		    .videoDetailsContent {
			font-weight: 1rem;
		    }
		}
	    }
	}

	.videoUpdate {
	    flex: 2;
	    padding: 0.75rem;
	    box-shadow: 0 0.125rem 1rem 0 rgba(255, 255, 255, 0.52);

	    .videoUpdateBlock {
		display: flex;
		align-items: center;
		justify-content: center;

		.videoUpdateTitle {
		    color: rgba(255, 255, 255, 0.65);
		    font-size: 1.5rem;
		    font-weight: 600;
		    text-align: center;
		}
	    }

	    .videoUpdateForm {
		display: flex;
		justify-content: space-between;
		margin-top: 1.25rem;
		padding: 0 3.5rem;

		.videoUpdateTop {

		    .videoUpdateItem {
			display: flex;
			flex-direction: column;
			margin-bottom: 0.75rem;

			label {
			    margin-bottom: 0.25rem;
			    font-size: 0.75rem;
			}

			.videoUpdateInput {
			    border: none;
			    border-bottom: 1px solid grey;
			    width: 15rem;
			    height: 1.5rem;
			    padding: 0.25rem;
			    background-color: rgba(13, 128, 35, 0.1);
			    color: white;
			}

			.videoUpdateInputDesc {
			    border-bottom: 1px solid grey;
			    width: 16rem;
			    height: 7.5rem;
			    padding: 0.25rem;
			    background-color: var(--main-color);
			    color: white;
			}
		    }
		}

		.videoUpdateBottom {
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;		    

		    .videoUpdateUpload {
			display: flex;
			justify-content: center;
			align-items: center;

			.videoUpdateImg {
			    width: 10rem;
			    height: 10rem;
			    object-fit: cover;
			    border-radius: 0.75rem;
			    margin-right: 1.25rem;
			    box-shadow: 0 0.125rem 1rem 0 rgba(255, 255, 255, 0.39);
			}

			.videoUpdateIcon {
			    cursor: pointer;
			}
		    }

		    .userPrompt {
			color: #05F283;
			margin-top: 1.5rem;
			text-align: center;
		    }

		    .videoUpdateButton {
			max-height: 3rem;
			border: none;
			border-radius: 0.25rem;
			background-color: #05F283;
			color: rgba(0, 0, 0, 0.78);
			padding: 0.75rem;
			cursor: pointer;
			font-weight: 600;
			font-size: 1rem;
			margin-bottom: 0.75rem;
		    }
		}
	    }
	}
    }
}

/* Media Query ensuring this page renders appropriately on Mobile size screens. */
@media (max-width: 767px) {
    .videoStyle {
	margin-top: 60px;

	.videoContainer {
	    margin-top: 1rem;

	    .videoDetails {
		margin-bottom: 2rem;
	    }

	    .videoUpdate {

		.videoUpdateForm {
		    flex-direction: column;
		    padding: 0;

		    .videoUpdateTop {

			.videoUpdateItem {
			    margin-bottom: 1.75rem;
			}
		    }
		}
	    }
	}
    }
}
