.video {
    padding: 19px;
    margin-top: 78px;
    background-color: var(--main-color);

    .videoTopSection {
	display:flex;
	align-items: center;
	justify-content: space-between;

	.videoEditTitle {
	    color: rgba(255, 255, 255, 0.65);
	}

	.options {

	    .videoWatchButton {
		border: none;
		padding: 5px;
		border-radius: 6px;
		color: var(--main-color);
		background-color: #05F283;
		cursor: pointer;
		font-size: 15px;
		font-weight: 600;
	    }

	    .videoDeleteButton {
		border: none;
		padding: 5px;
		border-radius: 6px;
		color: white;
		background-color: rgb(130, 0, 0);
		cursor: pointer;
		font-size: 15px;
		font-weight: 600;
		margin-left: 15px;
	    }
	}
    }

    .videoContainer {
	display: flex;
	flex-direction: column;
	color: white;
	margin-top: 13px;

	.videoDetails {
	    flex: 1;
	    padding: 13px;
	    box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, 0.52);
	    margin-bottom: 13px;

	    .videoDetailsTop {
		display: flex;
		align-items: center;

		.profile {
		    width: 78px;
		    height: 78px;
		    border: 1px solid grey;
		    border-radius: 50%;
		    object-fit: contain;
		    cursor: pointer;
		    background-color: white;
		    margin-right: 13px;
		}

		.videoInfos {
		    display: flex;
		    flex-direction: column;

		    .videoName {
			font-weight: 600;
		    }

		    .videoCategory {
			font-weight: 300;
		    }
		}
	    }

	    .videoDetailsBottom {
		margin-top: 13px;

		.videoDetailsTitle {
		    color: rgba(255, 255, 255, 0.52);
		    font-weight: 300;
		}

		.videoDetailsDiv {
		    display: flex;
		    align-items: center;
		    margin: 13px 0px;
		    color: rgba(255, 255, 255, 0.78);

		    .videoDetailsIcon {
			margin-right: 10px;
		    }

		    .videoDetailsContent {
			font-weight: 16px;
		    }
		}
	    }
	}

	.videoUpdate {
	    flex: 2;
	    padding: 13px;
	    box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, 0.52);

	    .videoUpdateTitle {
		color: rgba(255, 255, 255, 0.65);
		font-size: 23px;
		font-weight: 600;
		text-align: center;
	    }

	    .videoUpdateForm {
		display: flex;
		justify-content: space-between;
		margin-top: 19px;
		padding: 0px 52px;

		.videoUpdateTop {

		    .videoUpdateItem {
			display: flex;
			flex-direction: column;
			margin-top: 13px;

			label {
			    margin-bottom: 5px;
			    font-size: 13px;
			}

			.videoUpdateInput {
			    border: none;
			    border-bottom: 1px solid grey;
			    width: 234px;
			    height: 26px;
			    padding: 3px;
			    background-color: var(--main-color);
			}
		    }
		}

		.videoUpdateBottom {
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    

		    .videoUpdateUpload {
			display: flex;
			align-items: center;

			.videoUpdateImg {
			    width: 156px;
			    height: 156px;
			    object-fit: cover;
			    border-radius: 13px;
			    margin-right: 19px;
			    box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, 0.39);
			}

			.videoUpdateIcon {
			    cursor: pointer;
			}
		    }

		    .videoUpdateButton {
			border: none;
			border-radius: 5px;
			background-color: #05F283;
			color: rgba(0, 0, 0, 0.78);
			padding: 10px;
			cursor: pointer;
			font-weight: 600;
		    }
		}
	    }
	}
    }
}
