.login {
    form {
	width: 100%;
	max-width: 24rem;
	min-height: 28rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 0.5rem;

	input {
	    height: 3rem;
	    max-height: 3rem;
	    padding: 0 0.625rem;
	    font-size: 1rem;
	    border-radius: 0.25rem;
	    border: 1px solid grey;
	    background: rgba(0, 0, 0, 0.6);
	    color: grey;
	}

	button {
	    height: 2.75rem;
	    max-height: 2.75rem;
	    border: none;
	    background-color: #05F283;
	    color: #002B56;
	    border-radius: 0.25rem;
	    font-size: 1rem;
	    font-weight: 600;
	    cursor: pointer;
	    padding: 0.25rem;
	}

	.userPrompt {
	    color: #05F283;
	    display: flex;
	    justify-content: center;
	    text-align: center;
	}

	.fieldError {
	    color: #F05353;
	    font-size: 0.85rem;
	    margin-top: -0.15rem;
	}

	span {
	    color: lightgrey;
	}

	.resetPassword {
	    font-size: 0.875rem;
	    font-weight: 200;
	    text-align: center;
	}

	.text {
	    font-size: 0.875rem;
	    font-weight: 200;
	}

	.small-1,
	.small-2 {
	    font-size: 0.75rem;
	    font-weight: 200;
	}

	.small-2 {
	    color: #028ECA;
	    cursor: pointer;
	}
    }
}

@media (min-width: 767px) {
    .login {
	form {
	    min-height: 29rem;
	}
    }
}
