# For Future-Me, and any collaborator, to see the keys to this universe

DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

STRIPE_TEST_PUBLIC_KEY=
STRIPE_TEST_SECRET_KEY=
STRIPE_PRICING_TABLE_ID=

DJSTRIPE_WEBHOOK_SECRET=
STRIPE_LIVE_MODE=false

BUNNY_STREAM_API_KEY=
BUNNY_STREAM_LIBRARY_ID=
BUNNY_STREAM_EMBED_TOKEN_KEY=

REDIS_HOST=
REDIS_PORT=
