.listItem {
    width: 18.4375rem; // Desktop width
    height: 12.1875rem; // Desktop height
    margin-right: 0.1875rem; // Desktop margin
    background-color: var(--main-color);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;

    img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
    }

    video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
    }

    &:hover {
	transform: scale(1.2);
	position: relative;
	z-index: 10;
	box-shadow: 0 0.125rem 1rem 0 rgba(255, 255, 255, 0.1);
	border-radius: 0.625rem;

	img {
	    transform: scale(1.75);
	}

	video {
	    transform: scale(1.65);
	    object-fit: contain;
	}
    }

    /* --- Media Queries for Mobile Responsiveness --- */
    @media (max-width: 767px) {
	width: 11.25rem; // Smaller width for mobile
	height: 6.25rem; // Smaller height for mobile
	margin-right: 0.5rem; // Adjusted margin for mobile
    }
}
