.videoList {
    margin-top: 75px;
}

.videoListCell {
    display: flex;

    .profile {
	width: 3rem;
	height: 3rem;
	border: 1px solid grey;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
	background-color: white;
	margin-right: 0.75rem;
    }
}

.manageVideo {
    display: flex;
    align-items: center;
    justify-content: center;

    .deleteIcon {
	color: rgb(192, 0, 0);
	cursor: pointer;
    }

    .manageVideoButton {
	border: none;
	border-radius: 6px;
	background-color: #028ECA;
	color: white;
	padding: 6px 13px;
	cursor: pointer;
	margin-right: 13px;
    }
}

/* Media Query ensuring mobile-friendly design */
@media (max-width: 767px) {
    .videoList {
	margin-top: 60px;
    }
}
