:root {
  --main-color: #0D1C23;
  color: white;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.main-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.link {
    text-decoration: none;
    color: inherit;
}

*, *::before, *::after {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbars from rogue elements */
}
