:root {
  --main-color: #0D1C23;
  color: white;
  scroll-behavior: smooth;
}

.link {
    text-decoration: none;
    color: inherit;
}

* {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
}

