/* --- frontend/src/components/list/list.scss --- */

.list {
    width: 100%;
    margin: 2rem 0;
    background-color: blue;

    .listTitle {
	color: white;
	font-size: 1rem; // Base font size
	font-weight: 500;
	margin-left: 3rem; // Base margin
	white-space: nowrap; // Prevent title from wrapping
	overflow: hidden;
	text-overflow: ellipsis; // Add ellipsis for long titles
	background-color: grey;
    }

    .wrapper {
	position: relative;
	overflow: hidden; // Hide overflow to prevent scrollbars appearing prematurely
	background-color: green;

	.sliderArrow {
	    width: 3rem; // Base width for arrows
	    height: 100%;
	    background-color: rgb(1, 1, 1, 0.5);
	    position: absolute;
	    z-index: 99;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    cursor: pointer;
	    display: flex; // Use flex to center arrow icon
	    justify-content: center;
	    align-items: center;

	    &.left {
		left: 0;
	    }

	    &.right {
		right: 0;
	    }

	    // Style for the actual MUI Icon within the arrow div
	    .MuiSvgIcon-root {
		font-size: 2.5rem; // Larger icon size for easier clicking
		color: red;
	    }
	}

	.container {
	    display: flex;
	    margin: 0.5rem 0 0.5rem 3rem; // Base margins
	    width: max-content;
	    transform: translateX(0px);
	    transition: all 0.5s ease;
	    background-color: turquoise;
	}
    }
}

/* --- Media Queries for Mobile Responsiveness (Max-width: 767px) ---*/
@media (max-width: 767px) {
    .list {
	margin-top: 1rem; // Adjust top margin for mobile
	margin-bottom: 1.5rem; // Reduce bottom margin on mobile
    }
}
