/* --- frontend/src/components/list/list.scss --- */

.list {
    width: 100%;
    margin: 2rem 0;
    background-color: blue;

    .listTitle {
	color: white;
	font-size: 1rem; // Base font size
	font-weight: 500;
	margin-left: 3rem; // Base margin
	white-space: nowrap; // Prevent title from wrapping
	overflow: hidden;
	text-overflow: ellipsis; // Add ellipsis for long titles
    }

    .wrapper {
	position: relative;
	background-color: green;

	.sliderArrow {
	    width: 50px;
	    height: 100%;
	    background-color: rgb(1, 1, 1, 0.5);
	    position: absolute;
	    z-index: 99;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    cursor: pointer;

	    &.left {
		left: 0;
	    }

	    &.right {
		right: 0;
	    }
	}

	.container {
	    display: flex;
	    margin-left: 50px;
	    margin-top: 10px;
	    width: max-content;
	    transform: translateX(0px);
	    transition: all 0.5s ease;
	}
    }
}
