.register {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
	to bottom,
	rgba(0, 0, 0, 0),
	rgba(0, 0, 10, 0.65) 40%,
	rgba(0, 0, 0, 0.85) 66.66%
    ), url('https://raw.githubusercontent.com/kal-kyokya/Futtech/refs/heads/main/frontend/public/background.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: auto 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;

    button {
	min-width: 8rem;
	min-height: 3rem;
	padding: 0.8rem 1.6rem;
	cursor: pointer;

	span {
	    display: flex;
	    line-height: 100%;
	    align-items: center;
	    justify-content: center;
	}
    }

    .top {
	width: 100%;
	padding: 0 3.125rem;

	.wrapper {
	    width: 100%;
	    max-width: 120rem;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;

	    .logo {
		height: 4.75rem;
		max-height: 6rem;
		border-radius: 2.5rem;
		width: auto;
	    }

	    .signIn {
		background-color: #05F283;
		color: #002B56;
		font-size: 1rem;
		font-weight: 700;
		border-radius: 0.25rem;
	    }
	}
    }

    .container {
	max-width: 60rem;
	width: 100%;
	height: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 5vh;
	margin-bottom: 5vh;
    }

    h1 {
	font-size: 2.5rem;
	text-align: center;
	width: 100%;
    }

    h2 {
	margin: 1.25rem;
    }

    p {
	font-size: 1.125rem;
    }

    .membership {
	max-width: 450px;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.25rem;
	background-color: grey;
	min-height: 50px;
	height: 2rem;
	border-radius: 0.25rem;
	background: rgba(0, 0, 0, 0.5);

	input {
	    flex: 1 1 100%;
	    min-height: 48px;
	    margin-bottom: 0.8rem;
	    padding: 0 0.625rem;
	    border: 1px solid grey;
	    border-radius: 0.25rem;
	    font-size: 1rem;
	    background: rgba(255, 255, 255, 0.18);
	    color: white;
	}

	button {
	    flex: 1 1 100%;
	    min-height: 48px;
	    font-size: 1.1rem;
	    background-color: #05F283;
	    color: #002B56;
	}
    }

    .userPrompt {
	color: #05F283;
	margin-top: 1rem;
    }
}

@media (min-width: 768px) {
    .register {
	background-position: left;
    }

    .membership {
	width: 50%;
	flex-wrap: nowrap;
    }

    input {
	margin-bottom: 0;
	flex: 9;
    }

    button {
	flex: 3;
    }
}
